# Built-in Data Structure in Python

## List

Lists are written as a list of comma-separated values (items) between `square brackets`. It might contain items of different types, but usually the items all have the same type.

In [1]:
a = [1, 2, 3]

In [2]:
a

[1, 2, 3]

### Defining an empty list

In [11]:
a = list ()
a

[]

In [12]:
a = []
a

[]

### Creating using iterable objects

`list`, built-in function can be used to create a list data type using any object that is iterable such as a string

In [6]:
list ('apple')

['a', 'p', 'p', 'l', 'e']

Question: What's the output?

In [1]:
['apple']

['apple']

### Accessing a list (similar to accessing strings)
0 indexed

In [13]:
a = [1, 2, 3, 4, 5, 6]

In [14]:
a [4]

5

Using negative indexing

In [19]:
a [-1]

6

Question: Whats' the output?

In [21]:
a [-4:-1]

[3, 4, 5]

### Mutability of lists

In [34]:
a

[1, 2, 3, 4, 5, 6]

In [35]:
a [0] = 10

In [36]:
a

[10, 2, 3, 4, 5, 6]

Unlike strings, lists are mutable i.e. the items that make up the list can be modified

### Using assignment with lists

In [37]:
b = a

In [38]:
a, b

([10, 2, 3, 4, 5, 6], [10, 2, 3, 4, 5, 6])

In [39]:
b [2] = 100

Question: What are the values of `a` and `b`?

In [41]:
b

[10, 2, 100, 4, 5, 6]

In [42]:
a

[10, 2, 100, 4, 5, 6]

Again unlike strings, lists passes the object references while assigning

Where would knowing this be useful?

In [44]:
string = string1 = 'apple'

In [45]:
string, string1

('apple', 'apple')

In [46]:
string = 'ball'

In [47]:
string, string1

('ball', 'apple')

But don't do this with lists.. not good idea

In [57]:
list1 = list2 = [1, 2, 3]

In [58]:
list1 [0] = 100

In [59]:
list1, list2

([100, 2, 3], [100, 2, 3])

Question: What does the following do?

In [28]:
x = a [:]

In [31]:
x

[1, 2, 3, 4, 5, 6]

In [63]:
x [0] = 500

In [64]:
x, a

([500, 2, 3, 4, 5, 6], [10, 2, 100, 4, 5, 6])

In [30]:
hex (id (a))

'0x2479b785a88'

In [29]:
hex (id (x))

'0x2479b7d0ac8'

A slice returns a new list and not a reference pointing to the old one

### Appending to lists

In [81]:
a

[10, 2, 100, 4, 5, 6]

In [82]:
x

[500, 2, 3, 4, 5, 6]

What would this do?

In [83]:
a + x

[10, 2, 100, 4, 5, 6, 500, 2, 3, 4, 5, 6]

What if u want to replicate a list multiple times, as in 
```python
[1, 2, 3, 1, 2, 3, 1, 2, 3]
```

In [188]:
[1, 2, 3] * 10

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

We'll look at functions that do this later

### Modifying multiple items

How would u modify the below list to get the output as shown below?

In [143]:
a = [1, 2, 3, 4, 5, 6, 7]

In [104]:
a [2:5] = [13, 14, 15]

In [105]:
a

[1, 2, 13, 14, 15, 6, 7]

The same can be used to delete elements from the list

In [107]:
a [3:5] = []

In [108]:
a

[1, 2, 13, 6, 7]

And to clear the list

In [145]:
a [:] = []

In [146]:
a

[]

### Nested lists

In [109]:
a = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [111]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Access it using multiple indices

In [125]:
a [0] [1]

2

### Functions that operate on lists

#### Append

In [128]:
a = [1, 2, 3, 4]

In [97]:
a.append (10)

In [98]:
a

[1, 2, 3, 4, 10]

Question: What if you wanna append multiple items to the list? \
Will the below work?

In [99]:
a.append ([11, 12, 13])

In [100]:
a

[1, 2, 3, 4, 10, [11, 12, 13]]

#### Extend

In [1]:
a = [1, 2, 3, 4, 10]
a.extend ([11, 12, 13])

In [2]:
a

[1, 2, 3, 4, 10, 11, 12, 13]

#### Count

In [134]:
a = [1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 0]

In [135]:
a.count (1)

2

#### Index

In [139]:
a = [1, 2, 3, 4]
a.index (3)

2

Question: What would be the output of the following?

In [141]:
a = [1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 0]
a.index (5)

4

Ans: Returns the first occurance of the item if found

Question: What happens if the value is not in the list?

In [142]:
a = [1, 2, 3, 4]
a.index (10)

ValueError: 10 is not in list

#### Insert

In [3]:
a = [1, 2, 3, 4]
a.insert (2, 100)

In [4]:
a

[1, 2, 100, 3, 4]

In [5]:
a.insert (10, 5)
a

[1, 2, 100, 3, 4, 5]

#### Pop

In [158]:
a = [1, 2, 3, 4, 5]
a.pop ()

5

In [159]:
a

[1, 2, 3, 4]

What if u wanna pop out other than the last element?

In [160]:
a.pop (2)

3

In [161]:
a

[1, 2, 4]

How would you pop out an element with a particular value?

In [185]:
a = [10, 20, 30, 40, 50, 60]

In [186]:
a.pop (a.index (30))

30

In [187]:
a

[10, 20, 40, 50, 60]

#### Remove
The same can be done easily with `remove`

In [189]:
a = [10, 20, 30, 40, 50]

In [190]:
a.remove (30)

In [191]:
a

[10, 20, 40, 50]

`reverse`, `sort` and `copy` are other functions that can work with list objects\
**Note:** They operate in place

## Tuple

It one of the sequence type data structures, similar to lists, but they are immutable

In [199]:
tup = ('a', 'b', 'c')

In [200]:
tup

('a', 'b', 'c')

#### Accessing it

In [201]:
tup [1]

'b'

Will this work?

In [202]:
tup [0] = 10

TypeError: 'tuple' object does not support item assignment

Can contain heterogenous objects

In [203]:
tup = (1, 2, 'apple', 'ball')

In [204]:
tup

(1, 2, 'apple', 'ball')

In [205]:
tup [1:3]

(2, 'apple')

How would you create an empty tuple?

In [206]:
tup = () # or use tuple ()

In [207]:
tup

()

How would you create a tuple with only one entry?

In [6]:
tup = 'one',  'two'

In [7]:
tup

('one', 'two')

`count` and `index` are the functions that can be used with tuples (similar to the one defined with lists)

## Set

A set is an unordered collection with no duplicate elements.

#### Starting with an empty set and adding elements to it

In [221]:
s = set ()

In [222]:
s.add (10)

In [224]:
s

{10}

#### Creating a set using iterables

In [227]:
s = set ([1, 2, 3, 4, 5, 2, 3, 0])

In [228]:
s

{0, 1, 2, 3, 4, 5}

#### Creating using curly braces

In [225]:
s = {10, 20, 30, 40, 30, 20}

In [226]:
s

{40, 10, 20, 30}

Question: What is the output of the following?

In [238]:
s = {[1, 2, 3], [10, 20, 30]}

TypeError: unhashable type: 'list'

Question: What values can it hold? \
_Hint:_ Think about the properties of set

Question: Will this work?

In [229]:
s [0]

TypeError: 'set' object is not subscriptable

Question: Can you find the unique elements of this list?
```python
a = [1, 2, 3, 4, 4, 4, 4, 4, 5, 3, 3, 3]
```

#### Uses of sets

- Eleminating duplicates
- Testing for membership

#### Set Operation
- union 
- intersection
- difference
- symmetric difference.

In [242]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [243]:
s1.intersection (s2)

{4, 5}

In [244]:
s1.union (s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [245]:
s1.difference (s2)

{1, 2, 3}

In [246]:
s1.symmetric_difference (s2)

{1, 2, 3, 6, 7, 8}

Question: What would the following command do?
```python
s = {}
```

Will it create an empty set?

Ans: Nope, it could create an empty dictionary

## Dictionary

Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type

In [8]:
d = {'a':1, 'b':2, 'c':3}

In [271]:
d

{'a': 1, 'b': 2, 'c': 3}

Which of the following could be used as dictionary keys?
- Int/Float
- Strings
- Lists
- Tuples
- Sets
- Dictionary itself

How to get only the keys?

In [272]:
d.keys ()

dict_keys(['a', 'b', 'c'])

What about the values?

In [274]:
d.values ()

dict_values([1, 2, 3])

What if both the key:values are required?

In [281]:
d.items ()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [286]:
d.get ('d', 'unknown')

'unknown'

In [287]:
d.pop ('a')

1

Question: What happens if we call pop once more on a?

In [291]:
d.pop ('a')

KeyError: 'a'

In [292]:
d.pop ('a', 'useful info')

'useful info'

What if you wanna add a key:value pair to ur dictionary but don't want to override if already exist?

One possible way is to check for the key using `get` and then act accordingly

In [294]:
if not d.get ('d'):
    # Add
    d ['d'] = 'blah'

In [295]:
d

{'b': 2, 'c': 3, 'd': 'blah'}

In [299]:
d.setdefault ('d', '123')

'blah'

In [297]:
d.setdefault ('e', '1234')

'1234'

In [298]:
d

{'b': 2, 'c': 3, 'd': 'blah', 'e': '1234'}

Question: What's the output of the following?

In [9]:
list ({'a':1, 'b':2})

['a', 'b']

It iterates over the keys by default. How would you get the values?

Question: What's the output?

In [302]:
d

{'b': 2, 'c': 3, 'd': 'blah', 'e': '1234'}

In [301]:
list (d)

['b', 'c', 'd', 'e']

## Just for fun

Lets say we `str` to convert a list to string. How can you convert it back to a list?

In [303]:
str ([1, 2])

'[1, 2]'

In [75]:
eval (str ([1, 2]))

[1, 2]

## Deepcopy

In [304]:
import copy

In [305]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [307]:
y = copy.deepcopy (x)

In [308]:
y [0] [0] = 100

In [309]:
x, y

([[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[100, 2, 3], [4, 5, 6], [7, 8, 9]])